<a href="https://colab.research.google.com/github/indranilidg/File-Size-Analysis/blob/main/File_Size_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
SourceDirectory = '/content/drive/MyDrive/Indranil_Office/File_Size_Analysis/'
DestinationDirectory = '/content/FileSize.txt'

import os
import shutil

shutil.copyfile(SourceDirectory + 'FileSize.txt', DestinationDirectory)

'/content/FileSize.txt'

In [4]:
import pandas as pd

columns = [(0, 17), (17, 35), (35, 500)]

ColNames = ['Date', 'Size', 'Name']

db1 = pd.read_fwf('FileSize.txt', skiprows=5, indexcol=False, names = ColNames, colspecs = columns, encoding = "ISO-8859-1", engine='python')

In [5]:
db1.iloc[426:438]

,Date,Size,Name
426,19-01-2017 14:42,"2,053",PumpingSchedule.ghc
427,22-01-2017 09:09,"2,129",PumpingSchedule1.After.dat.txt
428,22-01-2017 09:09,"2,129",PumpingSchedule1.Before.dat.txt
429,22-01-2017 09:09,"2,086",PumpingSchedule1.dat
430,22-01-2017 09:09,"18,840",PumpingSchedule1.ghp
431,5,File(s) 27,",237 bytes"
432,Directory of W:\,17.0 PETROLEUM ENG,-NEW\Well Files\ABB-55\Frac\Frac Design\ABB55\...
433,22-01-2017 07:43,<DIR>,.
434,22-01-2017 08:23,<DIR>,..
435,22-01-2017 11:28,"11,439",GridSetup1.csv
436,22-01-2017 11:28,"20,261",GridSetup1.dat
437,22-01-2017 11:28,131,GridSetup1.ghc

In [6]:
db1['Size']=db1['Size'].str.replace(',', '')

In [7]:
db1.iloc[426:438]

,Date,Size,Name
426,19-01-2017 14:42,2053,PumpingSchedule.ghc
427,22-01-2017 09:09,2129,PumpingSchedule1.After.dat.txt
428,22-01-2017 09:09,2129,PumpingSchedule1.Before.dat.txt
429,22-01-2017 09:09,2086,PumpingSchedule1.dat
430,22-01-2017 09:09,18840,PumpingSchedule1.ghp
431,5,File(s) 27,",237 bytes"
432,Directory of W:\,17.0 PETROLEUM ENG,-NEW\Well Files\ABB-55\Frac\Frac Design\ABB55\...
433,22-01-2017 07:43,<DIR>,.
434,22-01-2017 08:23,<DIR>,..
435,22-01-2017 11:28,11439,GridSetup1.csv
436,22-01-2017 11:28,20261,GridSetup1.dat
437,22-01-2017 11:28,131,GridSetup1.ghc

In [8]:
pattern = '[a-z, A-Z]'

db1['Size_HasText'] = db1['Size'].str.contains(pattern)

db1.iloc[426:438]

,Date,Size,Name,Size_HasText
426,19-01-2017 14:42,2053,PumpingSchedule.ghc,False
427,22-01-2017 09:09,2129,PumpingSchedule1.After.dat.txt,False
428,22-01-2017 09:09,2129,PumpingSchedule1.Before.dat.txt,False
429,22-01-2017 09:09,2086,PumpingSchedule1.dat,False
430,22-01-2017 09:09,18840,PumpingSchedule1.ghp,False
431,5,File(s) 27,",237 bytes",True
432,Directory of W:\,17.0 PETROLEUM ENG,-NEW\Well Files\ABB-55\Frac\Frac Design\ABB55\...,True
433,22-01-2017 07:43,<DIR>,.,True
434,22-01-2017 08:23,<DIR>,..,True
435,22-01-2017 11:28,11439,GridSetup1.csv,False
436,22-01-2017 11:28,20261,GridSetup1.dat,False
437,22-01-2017 11:28,131,GridSetup1.ghc,False

In [9]:
db2 = db1.drop(db1[db1.Size_HasText == True].index)

In [10]:
#db2['FileType'] = db2['Name'][-3:]
db2['Name_length'] = db2.Name.str.len()

In [11]:
db2['FileType'] = db2.Name.str[-4:].str.lower()

In [12]:
db2.Size = pd.to_numeric(db2.Size)

In [13]:
db2.Size.sum()

621542512057

In [17]:
db2.pivot_table(values='Size',index=['FileType'],aggfunc='sum').sort_values('Size', ascending=False)

#.to_excel('Summary_pivot.xls')

                  Size
FileType
dlis      250840216528
.pdf       54634197832
.sgy       35238646992
.tif       33975910813
.avi       29623417192
...                ...
2pvi                 0
mote                 0
tled                 0
fied                 0
dlog                 0

[573 rows x 1 columns]

In [18]:
'''
db2_filter = db2[db2.FileType == '-02']

db2_filter
'''

Empty DataFrame
Columns: [Date, Size, Name, Size_HasText, Name_length, FileType]
Index: []

In [19]:

final_report_string = 'final'

db4 = db2[db2['Name'].str.contains(final_report_string)]

db4.count()

Date            404
Size            404
Name            404
Size_HasText    404
Name_length     404
FileType        404
dtype: int64